	h1 {
		text-align:center;
		color: #aaaaaa;
		font-family: 'Dorsa', sans-serif;
		font-size: 75px;
		margin: 20px 0 20px 0;
	}
	h2 {
		text-align:center;
		color: #bbbbbb;
		margin: 0 0 0 0;
		font-size: 15px;
	}
	
	a {
		text-decoration: none;
		color: #aaaaaa;
	}
	
	ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      border-radius: 12px;
      text-align:center;
      margin: 20px 0 20px 0;
    }
    li {
    	color: #aaaaaa;
      display: inline;
      padding: 0px 10px 0px 10px;
    }
		
	body {
		font-family: helvetica, sans-serif;
	  	margin: 0 auto;
	  	max-width: 600px;
	  	background: #232323;
	}
	
	div {
		height: 400px;
		background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
		position: relative;
		margin: 40px auto;
		border-radius: 12px;
	}
	
	p {
		background: black;
		background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
		background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
		background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
		color:white;
		position:absolute;
		bottom:0;
		margin: 0;
		line-height:28px;
		padding:10px;
		border-radius: 12px;
	}
	
@media only screen and (max-width: 750px){
	h1 {
		text-align:center;
		color: #aaaaaa;
		font-family: 'Dorsa', sans-serif;
		font-size: 125px;
		margin: 20px 0 20px 0;
	}
	h2 {
		text-align:center;
		color: #bbbbbb;
		margin: 0 0 0 0;
		font-size: 55px;
	}
	
	a {
		text-decoration: none;
		color: #aaaaaa;
	}
	
	ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      border-radius: 12px;
      text-align:center;
      margin: 40px 0 20px 0;
    }
    li {
    	color: #aaaaaa;
      display: inline;
      padding: 0px 10px 0px 10px;
      font-size: 35px;
    }
		
	body {
		font-family: helvetica, sans-serif;
	  	margin: 0 auto;
	  	max-width: 720px;
	  	background: #232323;
	}
	
	div {
		height: 500px;
		background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
		position: relative;
		margin: 80px auto;
		border-radius: 20px;
	}
	
	p {
		background: black;
		background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
		background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
		background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
		color:white;
		position:absolute;
		bottom:0;
		margin: 0;
		line-height:28px;
		padding:10px;
		border-radius: 12px;
		font-size: 35px;
	}
}
